<section aria-label="Introduction" class="usa-hero">
  <div class="grid-container">
    <div class="grid-row flex-align-center flex-justify">
      <div class="usa-hero__callout">
        <h1 class="usa-hero__heading">
          Start for Free
        </h1>
        <p>Software businesses generate wealth and passive income.</p>
        <p>This <strong class="text-uppercase">free</strong> workbook will help you get started on yours today.</p>
        <a class="usa-button usa-button--secondary" href="/expertise_to_income">Get the <strong class="text-uppercase">Free</strong> Workbook </a>
      </div>
    </div>
  </div>
</section>
