<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{% if page.title %}{{ page.title | strip_html }} | {% endif %}{{ site.title }}</title>

{% assign description = page.description | default: site.description %}
{% if description %}
<meta name="description" content="{{ description | url_encode }}">
{% endif %}

{% include favicon.html %}

<meta name="twitter:card" content="summary" />
<meta name='twitter:site:id' content='@{{ site.twitter_username }}'>
<meta name='twitter:title' content='{{ page.title | default: site.motto | escape }}'>
<meta name='twitter:creator:id' content='@ExMember'>
<meta name='twitter:image' content='https://talariasoftware.com{{ page.image | default: site.logo | escape }}'>

<meta property='og:locale' content='en'>
<meta property='og:site_name' content='{{ site.title | escape }}'>
<meta property='og:title' content='{{ page.title | default: site.motto | escape }}'>
<meta property='og:type' content='website'>
<meta property='og:url' content='https://talariasoftware.com{{ page.url | escape }}'>
<meta property='og:description' content='{{ page.description | default: page.title | escape }}'>
<meta property='og:image' content='https://talariasoftware.com{{ page.image | default: site.logo | escape }}'>
