---
layout: post
main:
  class: usa-grid usa-section usa-content usa-layout-docs
---
<div class="display-flex flex-column flex-align-center">
  <iframe allow="encrypted-media" allowfullscreen="true" frameborder="0"
    height="413" scrolling="no"
    src="https://www.facebook.com/plugins/video.php?href={{
        page.facebook_video_url | url_encode }}&amp;show_text=false"
    style="border:none;overflow:hidden" width="734">
  </iframe>
<p class="measure-1">{{ page.description }}</p>

{{ content }}
</div>

{{ content }}
